* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
.above {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 40px;
  flex-wrap: wrap;
}
.above-content {
  padding: 20px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 450px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.above-content input {
  border: none;
  outline: none;
  font-size: 17px;
  width: max-content;
  border-radius: 10px;
}
.labelfilter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.select-box {
  background-color: #fff;
  min-width: fit-content;
}
.select-box ul li {
  width: 100%;
  list-style: none;
}
.labelfilter select {
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
}
.ulfilter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: none;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.card-item {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px; */
  width: 300px !important;
  height: 300px;
  /* padding: 25px 15px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid var(--white-light);
  border-radius: 10px;
  /* margin: 15px 0; */
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  overflow: hidden;
}
.card-item img {
  display: block;
  width: 300px;
  height: 150px;
  border-bottom: 1px solid black;
  object-fit: cover;
}
.card-item h3 {
  margin: 15px;
}
.card-item p {
  margin-left: 15px;
}
